@font-face {
  font-family: Shippori;
  src: url(../fonts/ShipporiAntiqueB1-Regular.ttf);
}

html, body {
  background: rgb(var(--vs-background));
  font-family: Shippori;
  color: rgb(var(--vs-text));
  margin: 0;
}

input {
  font-family: Shippori;
}

.center {
  text-align: center;
}

.justified {
  text-align: justify;
}

h1 {
  margin: 0;
  padding-top: 40px;
  font-size: 80px;
  letter-spacing: 5px;
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grey {
  color: rgb(120,120,120);
}

h1 + p {
  margin: 0;
}