@font-face {
  font-family: Shippori;
  src: url(../fonts/ShipporiAntiqueB1-Regular.ttf);
}

html, body {
  background: rgb(var(--vs-background));
  font-family: Shippori;
  color: rgb(var(--vs-text));
  margin: 0;
}

input {
  font-family: Shippori;
}

.center {
  text-align: center;
}

.justified {
  text-align: justify;
}

.grey {
  color: rgb(120,120,120);
}